*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat_container{
    flex: 1; 
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    padding: 10px; 
}

.msg, .msg1{
    padding: 10px;
    width: auto;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    margin: 5px;   
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.msg p{
    margin-left: 7px;
}

.msg1 p{
    margin-right: 7px;
}

.input {
    background-color: #545454;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

.input textarea {
    background-color: transparent;
    color: white;
    width: 100%;
    overflow-wrap: break-word;
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    min-height: 50px; 
}

.input button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px; 
    align-self: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: scale(1);
}

.input button:hover{
    transform: scale(1.1);
}
